body {
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
}

.title {
  margin-bottom: 5vh
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
    margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem
  }
}
.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

input{
  padding: 0 1vh;
  text-align: center;
  height: 47px;
  width: 50px;
}

.close {
  margin-left: auto;
  /*font-size: 0.7rem*/
}

img {
  width: 100px
}

.back-to-shop {
  margin-top: 4.5rem
}

h5 {
  margin-top: 4vh
}

hr {
  margin-top: 1.25rem
}

form {
  padding: 2vh 0
}

/*select {*/
/*  border: 1px solid rgba(0, 0, 0, 0.137);*/
/*  padding: 1.5vh 1vh;*/
/*  margin-bottom: 4vh;*/
/*  outline: none;*/
/*  width: 100%;*/
/*  background-color: rgb(247, 247, 247)*/
/*}*/

/*input {*/
/*  border: 1px solid rgba(0, 0, 0, 0.137);*/
/*  padding: 1vh;*/
/*  margin-bottom: 4vh;*/
/*  outline: none;*/
/*  width: 100%;*/
/*  background-color: rgb(247, 247, 247)*/
/*}*/

/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*  !* display: none; <- Crashes Chrome on hover *!*/
/*  -webkit-appearance: none;*/
/*  margin: 0; !* <-- Apparently some margin are still there even though it's hidden *!*/
/*}*/

/*input[type=number] {*/
/*  -moz-appearance:textfield; !* Firefox *!*/
/*}*/

/*input:focus::-webkit-input-placeholder {*/
/*  color: transparent*/
/*}*/

/*.btn {*/
/*  background-color: #000;*/
/*  border-color: #000;*/
/*  color: white;*/
/*  width: 100%;*/
/*  font-size: 0.7rem;*/
/*  margin-top: 4vh;*/
/*  padding: 1vh;*/
/*  border-radius: 0*/
/*}*/

.btn{
  margin-right: 5px;
  margin-left: 5px;
}

/*.btn:focus {*/
/*  box-shadow: none;*/
/*  outline: none;*/
/*  box-shadow: none;*/
/*  color: white;*/
/*  -webkit-box-shadow: none;*/
/*  -webkit-user-select: none;*/
/*  transition: none*/
/*}*/

.btn:hover {
  color: white
}

a {
  color: black;
  text-decoration: none;
}

input {
  width: 2em;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 5px;
  padding-left: 10px;
}
input[type=number]::-webkit-inner-spin-button {
  /*-webkit-appearance: none;*/
  cursor: pointer;
  display: block;
  width: 10px;
  text-align: center;
  position: relative;
}
input[type=number]::-webkit-inner-spin-button::before,
input[type=number]::-webkit-inner-spin-button::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #777;
}
input[type=number]::-webkit-inner-spin-button::before {
  top: 7px;
}
input[type=number]::-webkit-inner-spin-button::after {
  bottom: 7px;
  transform: rotate(180deg);
}


/*a:hover {*/
/*  color: black;*/
/*  text-decoration: none*/
/*}*/

/*#code {*/
/*  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");*/
/*  background-repeat: no-repeat;*/
/*  background-position-x: 95%;*/
/*  background-position-y: center*/
/*}*/
