<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
    </div>
  </div>
</header>

<div *ngIf="isOrderPlaced" class="alert alert-success alert-dismissible fade show">
  <strong>Success!</strong> Your order has been placed.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-lg-end">
      <div class="col mb-5">
        <h5>Sort by</h5>
        <select [(ngModel)]="selectedSort"
                (change)="onSortChange()"
                class="form-select form-select-lg mb-1" aria-label="Default select example" data-style="btn-info">
          <option value="name,asc">Name(A-Z)</option>
          <option value="name,desc">Name(Z-A)</option>
          <option value="price,asc">Price(low-high)</option>
          <option value="price,desc">Price(high-low)</option>
        </select>
      </div>
    </div>

    <div class="container" id="filters">
      <div class="row justify-content-center">
        <div class="col mb-5">
          <div class="card">
            <article class="filter-group">
              <header class="card-header">
                <a  data-bs-toggle="collapse" data-bs-target="#collapse_aside1"
                    data-abc="true" aria-expanded="false" class="collapsed">
                <h6 class="title">Brands <fa-icon [icon]="['fas', 'square-caret-down']"></fa-icon></h6>

                </a> </header>
              <div class="filter-content collapse" id="collapse_aside1" style="">
                <div class="card-body">
                  <form>
                    <div *ngFor="let brand of brands">
                      <label class="form-check">
                        <input
                          (change)="onCheckboxChange(brand.id, $event.target)"
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          [checked]=setCheckbox(brand.id)>
                        <span class="form-check-label">
                          {{brand.name}}
                        </span>
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </article>
<!--            <article class="card-group-item">-->
<!--              <header class="card-header">-->
<!--                <h6 class="title">Brands</h6>-->
<!--              </header>-->
<!--              <div class="filter-content">-->
<!--                <div class="card-body">-->
<!--                  <form>-->
<!--                    <div *ngFor="let brand of brands">-->
<!--                      <label class="form-check">-->
<!--                        <input-->
<!--                          (change)="onCheckboxChange(brand.id, $event.target)"-->
<!--                          class="form-check-input"-->
<!--                          type="checkbox"-->
<!--                          value="">-->
<!--                        <span class="form-check-label">-->
<!--                          {{brand.name}}-->
<!--                        </span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div> &lt;!&ndash; card-body.// &ndash;&gt;-->
<!--              </div>-->
<!--            </article> &lt;!&ndash; card-group-item.// &ndash;&gt;-->
          </div> <!-- card.// -->
        </div>

        <div class="col mb-5">
          <div class="card">
            <article class="card-group-item">
              <header class="card-header">
                <h6 class="title">Price </h6>
              </header>
              <div class="filter-content">
                <div class="card-body">

                  <div class="input-group mb-2">
                    <span class="input-group-text">Min</span>
                    <input [(ngModel)]="itemRequest.minPrice"
                           (change)="onPriceChange()"
                           type="number" min="0" max="99999"
                           class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">$</span>


                    <span class="input-group-text">Max</span>
                    <input [(ngModel)]="itemRequest.maxPrice"
                           (change)="onPriceChange()"
                           type="number" min="0" max="99999"
                           class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">$</span>

                  </div>
                </div> <!-- card-body.// -->
              </div>
            </article> <!-- card-group-item.// -->
          </div> <!-- card.// -->
        </div>
      </div>
    </div>

    <hr>

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let item of items
              | paginate : {
                                   itemsPerPage: itemRequest.itemsPerPage,
                                   currentPage: itemRequest.page,
                                   totalItems: totalElements
                                }"

           class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{item.name}}</h5>
              <!-- Product price-->
              {{item.price}}$
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a (click)="onSelect(item)" class="btn btn-outline-secondary mt-auto">Details</a></div>
            <div *ngIf="!isItemInCart(item)" class="text-center">
              <button (click)="addToCart(item)"  [disabled]="item.quantity < 1" class="btn btn-outline-dark mt-auto" >Add to cart</button>
            </div>
            <div *ngIf="isItemInCart(item)" class="text-center">
              <a (click)="removeFromCart(item)" class="btn btn-outline-dark mt-auto" >Remove fom cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
    </div>
  </div>
</section>


